/*CSS RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*GENERICS*/
body{
    font-family:'Montserrat', sans-serif;
}

.wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.upper-content{
    flex-grow: 1; 
    display: flex;
    background-color: black;
    overflow: auto;
 }

 main{
    flex-grow: 1;
    overflow: auto;
 }

ul{
    list-style: none;
}

li *{
    text-decoration: none;
    color: gray;
}

h2,
h3{
    color: white;
}

img{
    max-width: 100%;
    display: block;
}

.upper-content{
    background-color: #141922;
}

.col-footer a{
    color:#5A5A5A ;
}

/*UTILS*/
.border{
    border: 2px dashed white;
}

.border-r50{
    border-radius: 50%;
}

.white{
    color: white;
}

.bg-blue{
    background-color: dodgerblue;
}

.m-right10{
    margin-right: 10px;
}

.m-right20{
    margin-right: 20px;
}

.c-white{
    color: white;
}

.text-hidden{
    display: none;
}

.bg-gray{
    background-color: #808080;
}

a:hover,
li:hover{
    filter: brightness(200%);
}

.p-relative{
    position: relative;
}

.b-bottom{
    border-bottom: 1px solid gray;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-10{
    margin-top: 10px;
}

.d-flex{
    display: flex;
}

/*SIDE-BAR*/
.side-bar-top{
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
.side-bar{
    padding: 10px;
    background-color: black;
    flex-shrink: 0;
    flex-basis:50px;
    color: gray;
    display: flex;
    flex-direction: column;
}

.side-bar-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.side-bar li{
    align-items: center;
    gap: 5px;
}

.side-bar-icon-list{
    font-size: 1.3rem;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.playlist-menu{
    line-height: 2rem;
    margin-top: 10px;
    overflow: auto;
    max-height: 150px;
}

.playlist-link{
    text-decoration: none;
    color: gray;
    display: inline;

}

.add-playlist i{
    display: none;
}

.side-bar-icon-list i,
.side-bar-footer i{
    margin-right: 5px;
}

.side-bar-bottom{
    text-align: center;
    line-height: 2rem;
    background-color: black;
} 


.logo{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

img.logo-big{
    width: 150px;
}

/* HEADER */
header{
    padding: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #090B12;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
}

.button-header{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
} 

.button-header:hover{
    scale: 1.2;
}

/* NAV */
.selection-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.selection-list li.active::after{
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: yellowgreen;
    margin: 3px auto;
}


nav.selection{
    margin-top: 40px;
}

.user-img{
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}

.install-icon .install-link::before{
    font-family: 'Font Awesome 5 Free';
    content: f358;

}
/* SECTION RECENTLY PLEYED */
section{
    padding: 30px;
    color: gray;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px -1rem;
    row-gap: 20px;
}

.col{
    flex-basis: 50%;
    padding: 0 1rem;
}

.card-text{
    margin-top: 10px;
    line-height: 1.5rem;
    text-align: center;
}

.play-selector{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card-img:hover .play-selector{
    display: block;
}

.card-img:hover img{
    filter: opacity(0.7);
}

/*FOOTER*/
footer{
    height: 100px;
    background-color: #282828;
    flex-shrink: 0;
    display: flex;
    font-size: 0.8rem;
    color: #5A5A5A;
}

.col-footer{
    height: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.col-footer.info-song{
    flex-basis: 30%;
}

.card-img{
    height: 100%;
    flex-shrink: 0;
} 

.footer-img{
    height: 100%;
}

.add-to-favourite a{
    display: block;
}

.col-footer.tools{
    flex-basis: 40%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.music-time{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.progress-bar{
    height: 3px;
    background-color: #5A5A5A;
    width: 70%;
}

.current-progress{
    width: 20%;
    height: 100%;
    background-color: #C1C1C1;
}

.progress-bar-short{
    height: 3px;
    background-color: #5A5A5A;
    width: 50%;
}

.col-footer.settings{
    justify-content: flex-end;
    flex-basis: 30%;
}